<!DOCTYPE html>
<html data-ng-app="andrei_page">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Unica+One|Vollkorn" rel="stylesheet">
  <link rel="shortcut icon" href="http://www.iconj.com/ico/d/z/dzwucinopk.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Angular -->
  <script src="scripts/angular/angular.min.js"></script>
  
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <title>Andrei Ungur</title>
  </head>

  <body>
    <div data-ng-controller='controller'>
      <div class="jumbotron text-center" ng-style="myStyle">
        <header>
          <h1>Andrei Ungur</h1>
        </header>
        <ul>
          <li class="links"><a href="https://www.linkedin.com/in/ungur"">LinkedIn</a></li>
          <li class="links"><a href="mailto:andrei.ungur@mail.mcgill.ca">Contact</a></li>
          <li class="links"><a href="https://soundcloud.com/doubleentandrei/tracks">SoundCloud</a></li>
        </ul>
      </div>

      <div class='text-center welcome_screen' data-ng-show="welcome_visible()">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
              <div class="col-xs-6">
                <button id="ENG-Select" class="btn" data-ng-click="setNameEng()"> <span class="button-text-full">Continue in English! </span><span class="button-text-short">English</span></button>
              </div>
              <div class="col-xs-6">
                <button id="FR-Select" class="btn" data-ng-click="setNameFr()"> <span class="button-text-full">Continuez en Français!</span><span class="button-text-short">Français</span> </button>
              </div>
            </div>
          </div>
        </div>

      <div id="main-content" class="text-center" data-ng-cloak data-ng-show="main_content()">
      <div id="headers">
          <h2 id="am" class="active"></h2>
          <h2 id="ed" class="active"></h2>
          <h2 id="ex" class="active"></h2>
          <h2 id="inv" class="active"></h2>
          <h2 id="pj" class="active"></h2>
        </div>
        
        <div id="about" class="main_text top_margin">
            <img class="about_photos" src="images/headshot.jpg" alt="dre">
          <div class="about_text">
            <p id="a_p1"></p>
            <p id="a_p2"></p>
            <p id="a_p3"></p>
          </div>
        </div>

        <div id="education" class="main_text">
          <div class="row school">
            <div class="col-xs-6">
              <p class="big_edu" id="mcgill_edu"></p>
              <p id="mcgill_desc_1"></p>
              <p id="mcgill_desc_2"></p>
              <p id="mcgill_desc_3"></p>
            </div>
            <div class="col-xs-6">  
              <img class="education_photos" src="http://tinyurl.com/websitemcgilllogo" alt="mcgill">
            </div>
          </div>

          <div class="row school">
            <div class="col-xs-6">
              <p class="big_edu" id="breb_edu"></p>
              <p id="breb_desc_1"></p>
              <p id="breb_desc_2"></p>
              <p id="breb_desc_3"></p>
            </div>
            <div class="col-xs-6">
              <img class="education_photos" src="images/brebs.jpg" alt="brebs">
            </div>
          </div>

        </div>

        <div id="experience" class="main_text top_margin">
          <!-- Work Experience -->
          <!-- Begin Graph -->
          <div class="graph">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="1000" height="1000" viewBox="0 0 400 800" class="shadow">
            <defs>
                <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                    <path d="M0,0 L0,6 L9,3 z" fill="#00000" />
                </marker>
            </defs>
            <defs>
                <marker id="smallerArrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                    <path d="M0,0 L0,6 L9,3 z" fill="#00000" />
                </marker>
            </defs>
            <line x1="250" y1="100" x2="250" y2="215" stroke="#000" stroke-width="5" marker-end="url(#arrow)" />
            <line x1="250" y1="410" x2="250" y2="526" stroke="#000" stroke-width="5" marker-end="url(#arrow)" />
            <line x1="150" y1="100" x2="60" y2="170" stroke-width="2" class="line"/>
            <line x1="150" y1="280" x2="70" y2="230" stroke-width="2" class="line"/>
            <line x1="150" y1="550" x2="20" y2="280" stroke-width="2" class="line"/>
            <line x1="100" y1="550" x2="50" y2="520" stroke-width="2" class="line"/>
            <line x1="350" y1="100" x2="450" y2="300" stroke-width="2" class="line"/>
            <line x1="350" y1="550" x2="450" y2="400" stroke-width="2" class="line"/>
            <defs>
              <pattern id="nuance" patternUnits="userSpaceOnUse" height="70" width="400">
                <image x="40" y="0" height="70" width="400" xlink:href="images/logos/nuance.svg"></image>
              </pattern>
            </defs>
            <rect class="clickable" onclick="test(0)" x="70" y="0" height="70" width="350" fill="url(#nuance)"/>
            
            <g id="textbox1">
              <rect class="clickable" onclick="test(0)" x="70" y="0" height="100" width="360" fill="white"/>
              <text x="90" y="20" text-anchor="start" dy=".3em">January 2017 - May 2017</text>
              <text x="90" y="40" text-anchor="start" dy=".3em">Software Engineering Intern</text>
              <text x="90" y="60" text-anchor="start" dy=".3em">Human-Computer Interaction, Chat bot,</text> 
              <text x="90" y="80" text-anchor="start" dy=".3em">JavaScript, Python, PostgreSQL, Flask</text> 
            </g>
            
            <circle cx="0" cy="210" r="60" class="circle"/>
            <text fill="white" x="0" y="200" text-anchor="middle" dy=".3em">Web</text>
            <text fill="white" x="0" y="220" text-anchor="middle" dy=".3em">Development</text>
            
            <defs>
              <pattern id="ubisoft" patternUnits="userSpaceOnUse" height="400" width="400">
                <image x="180" y="250" height="150" width="150" xlink:href="images/logos/ubisoft.svg"></image>
              </pattern>
            </defs>
            
            <rect class="clickable" onclick="test(1)" x="170" y="240" width="170" height="170" fill="url(#ubisoft)"/>
            <g id="textbox2">
                <circle class="clickable" onclick="test(1)" cx="252" cy="335" r="100" fill="white"/>
                <text x="165" y="300" text-anchor="start" dy=".3em">April 2017 - August 2017</text>
                <text x="160" y="320" text-anchor="start" dy=".4em">Web Developer Intern</text>
                <text x="155" y="340" text-anchor="start" dy=".3em">Large Scale Online Services,</text>
                <text x="160" y="360" text-anchor="start" dy=".3em">C#, MySQL, AWS Cloud</text>
                <text x="170" y="380" text-anchor="start" dy=".3em">Formation</text>
            </g>

            <circle cx="500" cy="350" r="55" class="circle"/>
            <text fill="white" x="500" y="330" text-anchor="middle" dy=".3em">Natural</text>
            <text fill="white" x="500" y="350" text-anchor="middle" dy=".3em">Language</text>
            <text fill="white" x="500" y="370" text-anchor="middle" dy=".3em">Processing</text>

            <defs>
              <pattern id="elementai" patternUnits="userSpaceOnUse" height="500" width="500">
                <image x="80" y="-120" height="400" width="400" xlink:href="images/logos/elementai.svg"></image>
              </pattern>
            </defs>
            <rect class="clickable" onclick="test(2)" x="60" y="540" height="80" width="430" fill="url(#elementai)"/>
            <g id="textbox3">
              <rect class="clickable" onclick="test(2)" x="30" y="550" height="100" width="450" fill="white"/>
              <text x="50" y="570" text-anchor="start" dy=".3em">May 2018 - December 2018</text>
              <text x="50" y="590" text-anchor="start" dy=".3em">AI Developer Intern</text>
              <text x="50" y="610" text-anchor="start" dy=".3em">Natural Language Processing, Keras, Pandas, Matplotlib,</text>
              <text x="50" y="630" text-anchor="start" dy=".3em">Python, Flask, Click, Jinja, Docker, Kubernetes, Helm</text>
              <text x="50" y="650" text-anchor="start" dy=".3em"></text>
              <text x="50" y="670" text-anchor="start" dy=".3em"></text>
            </g>
            <circle cx="0" cy="490" r="50" class="circle"/>
            <text fill="white" x="0" y="480" text-anchor="middle" dy=".3em">Machine</text>
            <text fill="white" x="0" y="500" text-anchor="middle" dy=".3em">Learning</text>
          </svg>
        </div>
          <!-- End Graph -->
        </div>
        <div id="involvement" class="main_text top_margin">
          <div class="row">
            <div class="project col-xs-6 ">
              <a href="https://wiki.mcgilleus.ca/IT_Committee">
                <img class="hoverzoom small" src="images/involvement/eus.png" alt="IT Committee">
              </a>
            </div>

            <div class="col-xs-6 description">
              <a href="https://wiki.mcgilleus.ca/IT_Committee" id="inv-1-title"></a>
              <br>
              <p id="inv-1-description"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="project col-xs-6 ">
              <a href="https://wiki.mcgilleus.ca/Game_Development_Student%27s_Society">
                <img class="hoverzoom small" src="images/involvement/gdm.png" alt="Game Dev McGill">
              </a>
            </div>
  
            <div class="col-xs-6 description">
              <a href="https://wiki.mcgilleus.ca/Game_Development_Student%27s_Society" id="inv-2-title"></a>
              <br>
              <p id="inv-2-description"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="project col-xs-6 ">
              <a href="https://mec.mcgilleus.ca/mec_2017.html">
                <img class="hoverzoom small" src="images/involvement/mec.png" alt="McGill Engineering Competition">
              </a>
            </div>
  
            <div class="col-xs-6 description">
              <a href="https://mec.mcgilleus.ca/mec_2017.html" id="inv-3-title"></a>
              <br>
              <p id="inv-3-description"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="project col-xs-6 ">
              <a href="https://ere.mcgilleus.ca/">
                <img class="hoverzoom small" src="images/involvement/ere.png" alt="Robo-Electronics">
              </a>
            </div>
    
            <div class="col-xs-6 description">
              <a href="https://ere.mcgilleus.ca/" id="inv-4-title"></a>
              <br>
              <p id="inv-4-description"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="project col-xs-6 ">
              <a href="https://stjohn.ab.ca/">
                <img class="hoverzoom small" src="images/involvement/sja.jpg" alt="Saint-John's Ambulance">
              </a>
            </div>
            
            <div class="col-xs-6 description">
              <a href="https://stjohn.ab.ca/" id="inv-5-title"></a>
              <br>
              <p id="inv-5-description"></p>
            </div>
          </div>
        </div>
        <div id="other" class="main_text top_margin">
          <p id="projects_more"></p>

          <!-- Media recommender -->
          <div class="row">
            <div class="project col-xs-6 ">
                <a href="http://andreiungur.github.io/mediarecommender">
                  <img class="hoverzoom small" src="images/mediarecommend.JPG" alt="Media Recommender">
                </a>
            </div>

            <div class="col-xs-6 description">
              <a href="http://andreiungur.github.io/mediarecommender" id="proj-1-title"></a>
              <br>
              <p id="proj-1-description"></p>
            </div>
          </div>
          <br>

          <!-- CodeJam 2017 -->
          <div class="row">
            <div class="project col-xs-6">
                <a href="https://github.com/AndreiUngur/Codejam2017">
                  <img class="hoverzoom big" src="images/ballr.JPG" alt="Ballr">
                </a>
            </div>

            <div class="description col-xs-6">
              <a href="https://github.com/AndreiUngur/Codejam2017" id="proj-2-title"></a>
              <br>
              <p id="proj-2-description"></p>
            </div>
          </div>
          <br>

          <!-- Football Analyzer -->
          <div class="row">
            <div class="project col-xs-6">
                <a href="https://andreiungur.github.io/FootballPrediction/UI/">
                  <img class="hoverzoom big" src="images/football.png" alt="FootballAnalysis">
                </a>

              </div>

              <div class="description col-xs-6">
                <a href="https://andreiungur.github.io/FootballPrediction/UI/" id="proj-3-title"></a>
                <br>
                <p id="proj-3-description"></p>
              </div>
            </div>
            <br>

            <!-- Websites -->
            <div class="row">
              <div class="project col-xs-6">
                  <a href="http://www.chateaubeausoleil.ca">
                      <img class="hoverzoom big" src="images/chalet.png" alt="chalet">
                    </a>
              </div>
  
              <div class="description col-xs-6">
                <a href="http://www.chateaubeausoleil.ca" id="proj-4-title"></a>
                <br>
                <p id="proj-4-description"></p>
              </div>
            </div>
            <br>

            <!-- DNA Sequencer -->
            <div class="row">
              <div class="project col-xs-6">
                <a href="http://www.andreiungur.github.io/dnaseq">
                  <img class="hoverzoom small" src="images/dnaseq.JPG" alt="DNA Seq">
                </a>
              </div>
  
              <div class="description col-xs-6">
                <a href="http://www.andreiungur.github.io/dnaseq" id="proj-5-title"></a>
                <br>
                <p id="proj-5-description"></p>
              </div>
            </div>
            <br>

            <!-- Puzzle Solver -->
            <div class="row">
              <div class="project col-xs-6">
                <a href="code/solver.java">
                  <img class="hoverzoom big" src="images/peg.jpg" alt="Peg solitaire">
                </a>
              </div>
  
              <div class="description col-xs-6">
                <a href="code/solver.java" id="proj-6-title"></a>
                <br>
                <p id="proj-6-description"></p>
              </div>
            </div>
            <br>

            <!-- Music -->
            <div class="row">
              <div class="project col-xs-6">
                <audio controls> 
                  <source src="audio/sampleSpring.mp3" type="audio/mpeg">
                  </audio>
              </div>
  
              <div class="description col-xs-6">
                <a href="audio/sampleSpring.mp3" id="proj-7-title"></a>
                <br>
                <p id="proj-7-description"></p>
              </div>
            </div>
            <br>
          </div>
        </div>

        <div id="etc" class="main_text top_margin">
          <p id="intro_text" class="text-center"></p>
        </div>
      </div>
    </div>

    <!-- Smooth scrolling -->
    <script src="scripts/smooth_slide.js"></script>

  <script src="scripts/angular_main.js"></script>

  <!-- Write data in different languages -->
  <script src="scripts/lang_writer.js"></script>

  <!-- Validate name -->
  <script src="scripts/name_validation.js"></script>
    <!--footer>
      Andreipage is maintained by https://github.com/AndreiUngur
    </footer-->
  </body>
  </html>
